// 首页样式
.home-style {
	.amap-logo {
		margin-bottom: 55px;
	}
	.amap-copyright {
		margin-bottom: 55px;
	}
}

//个人中心页面样式
.mine-style {
	.el-dialog__body {
		padding: 5px;
	}
}
.to-be-reserved {
	.el-card__header {
		background-color:#989393;
	}
}
.to-be-confirmed {
	.el-card__header {
		background-color:#ff8331;
	}
}
.reserved {
	.el-card__header {
		background-color:#2CB381;
	}
}

// 新增车位页面样式
.add-parkinfo {
	.mint-cell-title {
		text-align: left;
	}
}

